# для базы данных
PG_DB=
PG_USER=
PG_PASS=

# Секреты бэкенда
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
HASH_SALT=

# Админ
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Фронтенд
VITE_SKILLSWAP_API_URL=http://backend:3000

# Общие
NODE_ENV=
PORT=
