DB_DRIVER=postgres
DB_NAME=skill_swap
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=password

# Приложение
PORT=3000
HASH_SALT=my_secret_salt_123

# Настройки JWT
JWT_ACCESS_SECRET=your_access_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

#Данные админа
ADMIN_EMAIL=admin@skillswap.ru
ADMIN_PASSWORD=AdminSuper2024!
