# Для БД
PG_DB=skill_swap
PG_USER=admin
PG_PASS=password

# Для бэкенда
DB_DRIVER=postgres
DB_NAME=skill_swap
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=password

# Секреты
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
HASH_SALT=my_secret_salt_123

# Админ
ADMIN_EMAIL=admin@skillswap.ru
ADMIN_PASSWORD=AdminSuper2024!

# Фронтенд
VITE_SKILLSWAP_API_URL=http://backend:3000

# Общие
NODE_ENV=development
PORT=3000
